{% extends "base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1 class="text-center mt-5 mb-3 display-5">Giriş Yap</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Giriş Yap</button>
  </form>
  <p class="text-center">Hesabın yok mu? <a href="{% url 'signup' %}">Hesap oluştur</a>.</p>
  <p class="text-center">Şifreni mi unuttun? <a href="{% url 'password_reset' %}">Şifreni sıfırla</a>.</p>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}