{% extends 'base.html' %} {% load static %} {% block title %}Dersler {% endblock%} 
{% block links %}
<link rel="stylesheet" href="{% static 'university/course_list.css' %}" />
{% endblock %} {% block content %}
<div class="container">
	<h1 class="text-center m-5 display-5">Dersler</h1>
	<form method="POST" class="form border p-3 shadow-lg bg-light text-black">
		{% csrf_token %}
		<div class="form-group">
			<label for="order_by" class="font-weight-bold">Sırala</label>
			<select name="order_by" id="order_by" class="form-select">
				<option value="course_code" selected>Seç </option>
				<option value="course_name">Ders Adı</option>
				<option value="course_code">Ders Kodu</option>
				<option value="instructor">Eğitmen</option>
				<option value="department">Bölüm</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Uygula</button>
	</form>
	<section id="courses">
		<div class="card shadow mt-4 mb-2" style="width: 100%">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="bg-primary text-white">Ders Kodu</th>
						<th scope="col" class="bg-primary text-white">Ders Adı</th>
						<th scope="col" class="bg-primary text-white">Bölüm</th>
						<th scope="col" class="bg-primary text-white">Eğitmen</th>
					</tr>
				</thead>
				<tbody>
					{% for course in courses %}
					<tr>
						<td>{{course.course_code}}</td>
						<td>{{course.course_name}}</td>
						<td>{{course.department}}</td>
						<td>{{course.instructor}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
</div>
{% endblock %}
